body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f5f7;
  color: #172b4d;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.p-card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
